body {
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.container {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
  transform: translate(-50%, -50%);
}

a:link, a:visited {
  background-color: white;
  color: black;
  padding: 1px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: white;
}

.intropic {
  margin-left: 10%;
  margin-right: 9%;
}

.info {
  margin-left: 10%;
  margin-right: auto;
}

.pic {
  display: block;
}

@media (max-width:1200px) {
  /* For tablets: */
  .pic {
    display: none;
  }
  .info {
    margin-left: auto;
    margin-right: auto;
  }
}
