body {
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 200;
}

.container {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

aside {
  width: 70%;
  padding-left: 15px;
  margin-left: 5px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

a:link, a:visited {
  background-color: white;
  color: black;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: white;
}

.intropic {
  margin-left: 100px;
  margin-right: 100px;
}
