body {
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 200;
}

.container {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
  transform: translate(-50%, -50%);
}

a:link, a:visited {
  background-color: white;
  color: black;
  padding: 1px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: white;
}

.intropic {
  margin-left: 150px;
  margin-right: 145px;
}
